@font-face {
    src: url(Helvetica-Font.zip/Helvetica.ttf);
    font-family:helvetica;
}

{*
    padding:0;
    margin:0;
}

body  {
    font-family:helvetica, arial, sans-serif;
    color:black;
}

table, tr, td {
    border: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    text-align:left;
    
}